In [1]:
import numpy as np
import sqlite3
import wikidata_utils as wdutils
import pandas as pd
import ast
from sample_size import sample_size

import qwikidata
from qwikidata.json_dump import WikidataJsonDump
from qwikidata.linked_data_interface import get_entity_dict_from_api
from qwikidata.sparql import (get_subclasses_of_item,
                              return_sparql_query_results)
from qwikidata.entity import WikidataItem, WikidataProperty, WikidataLexeme

from pandarallel import pandarallel
pandarallel.initialize(progress_bar=True)

from tqdm.auto import tqdm
tqdm.pandas()

SEED=42

from IPython.display import clear_output

INFO: Pandarallel will run on 4 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [2]:
#from importlib import reload
#wdAPI.save_entity_cache(force=True)
#reload(wdutils)

In [ ]:
wdAPI = wdutils.CachedWikidataAPI(
    cache_path = '/home/k20036346/Repos/RefSupPipeline/wikidata_claim_data/wikidata_entity_cache.p',
    save_every_x_queries=np.inf
)

In [ ]:
db = sqlite3.connect('/archive/group_simperl/wikidata/wikidata_claims_refs_parsed.db')
cursor = db.cursor()
claims_columns = ['entity_id','claim_id','rank','property_id','datatype','datavalue']
refs_columns = ['reference_id', 'reference_property_id', 'reference_index', 'reference_datatype', 'reference_value']

In [ ]:
# Checking first few elements
cursor.execute('select * from refs limit 5;')
head_df = pd.DataFrame(cursor.fetchall())
head_df.columns = refs_columns
head_df

In [ ]:
text_reference_sampled_df_html = pd.read_csv('text_reference_sampled_df_html.csv')
text_reference_sampled_df_html

In [ ]:
def reference_id_to_claim_id(reference_id):
    try:
        np.random.seed(SEED)
        cursor.execute(f'select claim_id from claims_refs where reference_id="{reference_id}"')
        sql_result = cursor.fetchall()
        #return sql_result
        randomly_chosen_claim_id = np.array(sql_result).reshape(-1)
        return randomly_chosen_claim_id
    except Exception:
        print(reference_id)
        print(sql_result)
        raise
        
def reference_id_to_claim_data(reference_id):
    claim_ids = reference_id_to_claim_id(reference_id)
    r = []
    for claim_id in claim_ids:
        #print(claim_id)
        cursor.execute(f'select * from claims where claim_id="{claim_id}";')
        d = cursor.fetchall()
        r = r + d
    return r

claim_data = []
for reference_id in text_reference_sampled_df_html.reference_id:
    data = reference_id_to_claim_data(reference_id)    
    #print(data)
    data = [(reference_id,) + t for t in data]
    claim_data = claim_data + data
    #break

In [ ]:
claim_df = pd.DataFrame(claim_data, columns = ['reference_id'] + claims_columns)
claim_df

In [10]:
#reference_id_to_claim_data('93c70463e9b27bd9a1d62a170b23cc55ced0f7a4')

#cursor.execute('select * from claims_refs where reference_id=\'ca5a493f7843383b127c7cff4f7c9c26af9b2f87\'')
#sql_result = cursor.fetchall()
#sql_result

In [11]:
def claim_id_to_claim_url(claim_id):
    claim_id_parts = claim_id.split('$')
    return f'https://www.wikidata.org/wiki/{claim_id_parts[0]}#{claim_id}'

In [12]:
#print(claim_id_to_claim_url('Q58481743$72999E39-348D-4DD3-8272-D4A24B9E7894'))

In [13]:
claim_df.datatype.value_counts()

wikibase-item       926
time                389
external-id         149
string              101
quantity             91
monolingualtext      82
url                  15
globe-coordinate     12
commonsMedia          1
Name: datatype, dtype: int64

In [14]:
BAD_DATATYPES = ['external-id','commonsMedia','url', 'globe-coordinate', 'wikibase-lexeme', 'wikibase-property']

assert claim_df[~claim_df.datatype.isin(BAD_DATATYPES)].reference_id.unique().shape\
    == claim_df.reference_id.unique().shape

print(claim_df.reference_id.unique().shape[0])

676

In [15]:
claim_df = claim_df[~claim_df.datatype.isin(BAD_DATATYPES)].reset_index(drop=True)

In [16]:
claim_df[['entity_label','entity_label_lan']] = pd.DataFrame(
    claim_df.entity_id.apply(wdAPI.get_label, non_language_set=True).tolist()
)
claim_df[['property_label','property_label_lan']] = pd.DataFrame(
    claim_df.property_id.apply(wdAPI.get_label, non_language_set=True).tolist()
)

claim_df[['entity_alias','entity_alias_lan']] = pd.DataFrame(
    claim_df.entity_id.apply(wdAPI.get_alias, non_language_set=True).tolist()
)
claim_df[['property_alias','property_alias_lan']] = pd.DataFrame(
    claim_df.property_id.apply(wdAPI.get_alias, non_language_set=True).tolist()
)

claim_df[['entity_desc','entity_desc_lan']] = pd.DataFrame(
    claim_df.entity_id.apply(wdAPI.get_desc, non_language_set=True).tolist()
)
claim_df[['property_desc','property_desc_lan']] = pd.DataFrame(
    claim_df.property_id.apply(wdAPI.get_desc, non_language_set=True).tolist()
)

In [140]:
claim_df[['object_label','object_label_lan']] = pd.DataFrame(
    claim_df.apply(lambda x : wdAPI.get_object_label_given_datatype(x['datatype'], x['datavalue']), axis=1).tolist()
)

claim_df[['object_alias','object_alias_lan']] = pd.DataFrame(
    claim_df.apply(lambda x : wdAPI.get_object_alias_given_datatype(x['datatype'], x['datavalue']), axis=1).tolist()
)

claim_df[['object_desc','object_desc_lan']] = pd.DataFrame(
    claim_df.apply(lambda x : wdAPI.get_object_desc_given_datatype(x['datatype'], x['datavalue']), axis=1).tolist()
)

Wikidata redirect detected.  Input entity id=Q20085892. Returned entity id=Q484188.

In [53]:
claim_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1589 entries, 0 to 1588
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   reference_id        1589 non-null   object
 1   entity_id           1589 non-null   object
 2   claim_id            1589 non-null   object
 3   rank                1589 non-null   object
 4   property_id         1589 non-null   object
 5   datatype            1589 non-null   object
 6   datavalue           1589 non-null   object
 7   entity_label        1589 non-null   object
 8   entity_label_lan    1589 non-null   object
 9   property_label      1589 non-null   object
 10  property_label_lan  1589 non-null   object
 11  entity_alias        1589 non-null   object
 12  entity_alias_lan    1589 non-null   object
 13  property_alias      1589 non-null   object
 14  property_alias_lan  1589 non-null   object
 15  entity_desc         1589 non-null   object
 16  entity_desc_lan     1589 non-null   object
 17  property_desc       1589 non-null   object
 18  property_desc_lan   1589 non-null   object
 19  object_label        1589 non-null   object
 20  object_label_lan    1589 non-null   object
 21  object_alias        1589 non-null   object
 22  object_alias_lan    1589 non-null   object
 23  object_desc         1589 non-null   object
 24  object_desc_lan     1589 non-null   object
dtypes: object(25)
memory usage: 310.5+ KB

In [54]:
# Removing bad object labels
claim_df = claim_df[claim_df['object_label_lan'] != 'no_lan'].reset_index(drop=True)
print(claim_df.reference_id.unique().shape[0])

676

In [55]:
for row in claim_df.apply(lambda x : x['property_id']+'_'+x['property_label'], axis=1)\
    .value_counts().reset_index().iterrows():
    print(row)

(0, index    P31_instance of
0                    158
Name: 0, dtype: object)
(1, index    P569_date of birth
0                       155
Name: 1, dtype: object)
(2, index    P570_date of death
0                       118
Name: 2, dtype: object)
(3, index    P39_position held
0                       65
Name: 3, dtype: object)
(4, index    P1476_title
0                 44
Name: 4, dtype: object)
(5, index    P571_inception
0                    43
Name: 5, dtype: object)
(6, index    P186_made from material
0                             43
Name: 6, dtype: object)
(7, index    P217_inventory number
0                           42
Name: 7, dtype: object)
(8, index    P195_collection
0                     40
Name: 8, dtype: object)
(9, index    P21_sex or gender
0                       37
Name: 9, dtype: object)
(10, index    P136_genre
0                37
Name: 10, dtype: object)
(11, index    P276_location
0                   34
Name: 11, dtype: object)
(12, index    P17_country
0                 34
Name: 12, dtype: object)
(13, index    P106_occupation
0                     33
Name: 13, dtype: object)
(14, index    P577_publication date
0                           32
Name: 14, dtype: object)
(15, index    P131_located in the administrative territorial...
0                                                       31
Name: 15, dtype: object)
(16, index    P1031_legal citation of this text
0                                       29
Name: 16, dtype: object)
(17, index    P2048_height
0                  25
Name: 17, dtype: object)
(18, index    P2049_width
0                 21
Name: 18, dtype: object)
(19, index    P20_place of death
0                        21
Name: 19, dtype: object)
(20, index    P1448_official name
0                         21
Name: 20, dtype: object)
(21, index    P1001_applies to jurisdiction
0                                   21
Name: 21, dtype: object)
(22, index    P129_physically interacts with
0                                    19
Name: 22, dtype: object)
(23, index    P674_characters
0                     19
Name: 23, dtype: object)
(24, index    P793_significant event
0                            17
Name: 24, dtype: object)
(25, index    P161_cast member
0                      15
Name: 25, dtype: object)
(26, index    P364_original language of film or TV show
0                                               14
Name: 26, dtype: object)
(27, index    P580_start time
0                     14
Name: 27, dtype: object)
(28, index    P1196_manner of death
0                           14
Name: 28, dtype: object)
(29, index    P5021_assessment
0                      13
Name: 29, dtype: object)
(30, index    P582_end time
0                   13
Name: 30, dtype: object)
(31, index    P2795_directions
0                      13
Name: 31, dtype: object)
(32, index    P2896_publication interval
0                                13
Name: 32, dtype: object)
(33, index    P19_place of birth
0                        11
Name: 33, dtype: object)
(34, index    P1435_heritage designation
0                                11
Name: 34, dtype: object)
(35, index    P274_chemical formula
0                           11
Name: 35, dtype: object)
(36, index    P452_industry
0                   10
Name: 36, dtype: object)
(37, index    P6216_copyright status
0                            10
Name: 37, dtype: object)
(38, index    P50_author
0                 9
Name: 38, dtype: object)
(39, index    P189_location of discovery
0                                 9
Name: 39, dtype: object)
(40, index    P780_symptoms and signs
0                              8
Name: 40, dtype: object)
(41, index    P166_award received
0                          8
Name: 41, dtype: object)
(42, index    P921_main subject
0                        7
Name: 42, dtype: object)
(43, index    P8047_country of registry
0                                7
Name: 43, dtype: object)
(44, index    P126_maintained by
0                         7
Name: 44, dtype: object)
(45, index    P69_educated at
0                      7
Name: 45, dtype: object)
(46, index    P26_spouse
0                 7
Name: 46, dtype: object)
(47, index    P279_subclass of
0                       7
Name: 47, dtype: object)
(48, index    P2567_amended by
0                       7
Name: 48, dtype: object)
(49, index    P2568_repealed by
0                        6
Name: 49, dtype: object)
(50, index    P2031_work period (start)
0                                6
Name: 50, dtype: object)
(51, index    P1441_present in work
0                            6
Name: 51, dtype: object)
(52, index    P101_field of work
0                         6
Name: 52, dtype: object)
(53, index    P2386_diameter
0                     6
Name: 53, dtype: object)
(54, index    P2043_length
0                   5
Name: 54, dtype: object)
(55, index    P735_given name
0                      5
Name: 55, dtype: object)
(56, index    P57_director
0                   4
Name: 56, dtype: object)
(57, index    P927_anatomical location
0                               4
Name: 57, dtype: object)
(58, index    P915_filming location
0                            4
Name: 58, dtype: object)
(59, index    P551_residence
0                     4
Name: 59, dtype: object)
(60, index    P462_color
0                 4
Name: 60, dtype: object)
(61, index    P40_child
0                4
Name: 61, dtype: object)
(62, index    P1308_officeholder
0                         4
Name: 62, dtype: object)
(63, index    P2067_mass
0                 4
Name: 63, dtype: object)
(64, index    P8751_die axis
0                     4
Name: 64, dtype: object)
(65, index    P108_employer
0                    4
Name: 65, dtype: object)
(66, index    P27_country of citizenship
0                                 4
Name: 66, dtype: object)
(67, index    P86_composer
0                   3
Name: 67, dtype: object)
(68, index    P485_archives at
0                       3
Name: 68, dtype: object)
(69, index    P233_canonical SMILES
0                            3
Name: 69, dtype: object)
(70, index    P1411_nominated for
0                          3
Name: 70, dtype: object)
(71, index    P495_country of origin
0                             3
Name: 71, dtype: object)
(72, index    P444_review score
0                        3
Name: 72, dtype: object)
(73, index    P1748_NCI Thesaurus ID
0                             3
Name: 73, dtype: object)
(74, index    P1692_ICD-9-CM
0                     3
Name: 74, dtype: object)
(75, index    P2139_total revenue
0                          3
Name: 75, dtype: object)
(76, index    P607_conflict
0                    3
Name: 76, dtype: object)
(77, index    P2017_isomeric SMILES
0                            3
Name: 77, dtype: object)
(78, index    P410_military rank
0                         3
Name: 78, dtype: object)
(79, index    P58_screenwriter
0                       2
Name: 79, dtype: object)
(80, index    P97_noble title
0                      2
Name: 80, dtype: object)
(81, index    P1093_gross tonnage
0                          2
Name: 81, dtype: object)
(82, index    P1542_has effect
0                       2
Name: 82, dtype: object)
(83, index    P6379_has works in the collection
0                                        2
Name: 83, dtype: object)
(84, index    P725_voice actor
0                       2
Name: 84, dtype: object)
(85, index    P1346_winner
0                   2
Name: 85, dtype: object)
(86, index    P3373_sibling
0                    2
Name: 86, dtype: object)
(87, index    P734_family name
0                       2
Name: 87, dtype: object)
(88, index    P2610_thickness
0                      2
Name: 88, dtype: object)
(89, index    P2101_melting point
0                          2
Name: 89, dtype: object)
(90, index    P140_religion
0                    2
Name: 90, dtype: object)
(91, index    P241_military branch
0                           2
Name: 91, dtype: object)
(92, index    P361_part of
0                   2
Name: 92, dtype: object)
(93, index    P736_cover art by
0                        1
Name: 93, dtype: object)
(94, index    P2993_partition coefficient water/octanol
0                                                1
Name: 94, dtype: object)
(95, index    P1080_from narrative universe
0                                    1
Name: 95, dtype: object)
(96, index    P1416_affiliation
0                        1
Name: 96, dtype: object)
(97, index    P1591_defendant
0                      1
Name: 97, dtype: object)
(98, index    P1038_relative
0                     1
Name: 98, dtype: object)
(99, index    P1559_name in native language
0                                    1
Name: 99, dtype: object)
(100, index    P1066_student of
0                       1
Name: 100, dtype: object)
(101, index    P802_student
0                   1
Name: 101, dtype: object)
(102, index    P1050_medical condition
0                              1
Name: 102, dtype: object)
(103, index    P8045_organized response related to outbreak
0                                                   1
Name: 103, dtype: object)
(104, index    P527_has part
0                    1
Name: 104, dtype: object)
(105, index    P1595_charge
0                   1
Name: 105, dtype: object)
(106, index    P3919_contributed to creative work
0                                         1
Name: 106, dtype: object)
(107, index    P1132_number of participants
0                                   1
Name: 107, dtype: object)
(108, index    P159_headquarters location
0                                 1
Name: 108, dtype: object)
(109, index    P2177_solubility
0                       1
Name: 109, dtype: object)
(110, index    P2317_call sign
0                      1
Name: 110, dtype: object)
(111, index    P1433_published in
0                         1
Name: 111, dtype: object)
(112, index    P407_language of work or name
0                                    1
Name: 112, dtype: object)
(113, index    P451_unmarried partner
0                             1
Name: 113, dtype: object)
(114, index    P1889_different from
0                           1
Name: 114, dtype: object)
(115, index    P1705_native label
0                         1
Name: 115, dtype: object)
(116, index    P282_writing system
0                          1
Name: 116, dtype: object)
(117, index    P2102_boiling point
0                          1
Name: 117, dtype: object)
(118, index    P1303_instrument
0                       1
Name: 118, dtype: object)
(119, index    P162_producer
0                    1
Name: 119, dtype: object)
(120, index    P740_location of formation
0                                 1
Name: 120, dtype: object)
(121, index    P585_point in time
0                         1
Name: 121, dtype: object)
(122, index    P175_performer
0                     1
Name: 122, dtype: object)
(123, index    P6532_has phenotype
0                          1
Name: 123, dtype: object)
(124, index    P828_has cause
0                     1
Name: 124, dtype: object)
(125, index    P1680_subtitle
0                     1
Name: 125, dtype: object)
(126, index    P291_place of publication
0                                1
Name: 126, dtype: object)
(127, index    P123_publisher
0                     1
Name: 127, dtype: object)
(128, index    P742_pseudonym
0                     1
Name: 128, dtype: object)
(129, index    P348_software version identifier
0                                       1
Name: 129, dtype: object)
(130, index    P281_postal code
0                       1
Name: 130, dtype: object)
(131, index    P6375_street address
0                           1
Name: 131, dtype: object)
(132, index    P509_cause of death
0                          1
Name: 132, dtype: object)

In [56]:
claim_df.to_csv('text_reference_claims_df.csv', index=None)

In [2]:
claim_df = pd.read_csv('text_reference_claims_df.csv')

In [3]:
claim_df

,reference_id,entity_id,claim_id,rank,property_id,datatype,datavalue,entity_label,entity_label_lan,property_label,property_label_lan,object_label,object_label_lan
0,390d6c6e68a32e11f8d7b0883cda0557db529fe6,Q5512528,Q5512528$81E8AD02-28AF-4AE3-8ACD-047C30B40B01,normal,P20,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",G. V. Raja,en,place of death,en,Kullu Valley,en
1,49b9aec8e10815611ff0379a34d5fd7c3830566e,Q12149940,Q12149940$C9FE5F0C-78FD-4ECE-B1C2-16A763B8ED4E,normal,P140,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",Sebastian Sabol,en,religion,en,Greek catholic church,en
2,ab3e9ada7246257ffbfb86fa90a54f25e45a704e,Q583556,Q583556$929DCD2F-3B4A-41B5-89E7-EEC549077834,normal,P740,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",Average White Band,en,location of formation,en,Dundee,en
3,ab3e9ada7246257ffbfb86fa90a54f25e45a704e,Q583556,Q583556$2AD75C92-953E-47CB-93A6-D082674F4231,normal,P2031,time,"{'value': {'time': '+1972-00-00T00:00:00Z', 't...",Average White Band,en,work period (start),en,1972,en
4,76b04346ad57869d9e5ae1007ba8343d708ab6f9,Q7586053,Q7586053$AD344012-A522-4A8A-AF64-16F859E2EA9A,normal,P2031,time,"{'value': {'time': '+1983-00-00T00:00:00Z', 't...",Yutaka Higuchi,en,work period (start),en,1983,en
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567,8bb93e520f7ca8208f24078434b8f5f2ba8b520b,Q58484448,Q58484448$DB944078-CA87-4617-B942-5B290F2144ED,normal,P31,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",Gul Sanobar,en,instance of,en,film,en
1568,8bb93e520f7ca8208f24078434b8f5f2ba8b520b,Q58484448,Q58484448$9611AF89-1BD2-4D49-9CBB-E3EC52C7765D,normal,P364,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",Gul Sanobar,en,original language of film or TV show,en,Hindi,en
1569,8bb93e520f7ca8208f24078434b8f5f2ba8b520b,Q58484448,Q58484448$E03C8ED8-0593-4D47-B002-6371900A238E,normal,P462,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",Gul Sanobar,en,color,en,black and white,en
1570,6e6204011de4f4176362a6f4067486a94fc6ac3e,Q58435606,Q58435606$474B340F-3E0A-451C-8844-C02092719DD0,normal,P31,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",Jai Bhawani,en,instance of,en,film,en
1571,6e6204011de4f4176362a6f4067486a94fc6ac3e,Q58435606,Q58435606$82576BDF-9365-462C-B1F8-A6FF6B8FBE9D,normal,P462,wikibase-item,"{'value': {'entity-type': 'item', 'numeric-id'...",Jai Bhawani,en,color,en,black and white,en